=begin
#Easy!Appointments API

#These are the OpenAPI specs that describe the REST API of Easy!Appointments.

OpenAPI spec version: 1.0.0
Contact: info@easyappointments.org
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.30
=end

module SwaggerClient
  class SecretariesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all secretaries
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :length 
    # @option opts [String] :sort 
    # @option opts [String] :q 
    # @option opts [String] :fields 
    # @option opts [String] :with 
    # @return [SecretaryCollection]
    def secretaries_get(opts = {})
      data, _status_code, _headers = secretaries_get_with_http_info(opts)
      data
    end

    # Get all secretaries
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :length 
    # @option opts [String] :sort 
    # @option opts [String] :q 
    # @option opts [String] :fields 
    # @option opts [String] :with 
    # @return [Array<(SecretaryCollection, Integer, Hash)>] SecretaryCollection data, response status code and response headers
    def secretaries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretariesApi.secretaries_get ...'
      end
      # resource path
      local_var_path = '/secretaries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'length'] = opts[:'length'] if !opts[:'length'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'with'] = opts[:'with'] if !opts[:'with'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SecretaryCollection' 

      auth_names = opts[:auth_names] || ['BasicAuth', 'BearerToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretariesApi#secretaries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a secretary
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [SecretaryRecord]
    def secretaries_post(body, opts = {})
      data, _status_code, _headers = secretaries_post_with_http_info(body, opts)
      data
    end

    # Create a secretary
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretaryRecord, Integer, Hash)>] SecretaryRecord data, response status code and response headers
    def secretaries_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretariesApi.secretaries_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SecretariesApi.secretaries_post"
      end
      # resource path
      local_var_path = '/secretaries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SecretaryRecord' 

      auth_names = opts[:auth_names] || ['BasicAuth', 'BearerToken']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretariesApi#secretaries_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a secretary
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def secretaries_secretary_id_delete(secretary_id, opts = {})
      secretaries_secretary_id_delete_with_http_info(secretary_id, opts)
      nil
    end

    # Delete a secretary
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secretaries_secretary_id_delete_with_http_info(secretary_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretariesApi.secretaries_secretary_id_delete ...'
      end
      # verify the required parameter 'secretary_id' is set
      if @api_client.config.client_side_validation && secretary_id.nil?
        fail ArgumentError, "Missing the required parameter 'secretary_id' when calling SecretariesApi.secretaries_secretary_id_delete"
      end
      # resource path
      local_var_path = '/secretaries/{secretaryId}'.sub('{' + 'secretaryId' + '}', secretary_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['BasicAuth', 'BearerToken']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretariesApi#secretaries_secretary_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a secretary
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [SecretaryRecord]
    def secretaries_secretary_id_get(secretary_id, opts = {})
      data, _status_code, _headers = secretaries_secretary_id_get_with_http_info(secretary_id, opts)
      data
    end

    # Get a secretary
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretaryRecord, Integer, Hash)>] SecretaryRecord data, response status code and response headers
    def secretaries_secretary_id_get_with_http_info(secretary_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretariesApi.secretaries_secretary_id_get ...'
      end
      # verify the required parameter 'secretary_id' is set
      if @api_client.config.client_side_validation && secretary_id.nil?
        fail ArgumentError, "Missing the required parameter 'secretary_id' when calling SecretariesApi.secretaries_secretary_id_get"
      end
      # resource path
      local_var_path = '/secretaries/{secretaryId}'.sub('{' + 'secretaryId' + '}', secretary_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SecretaryRecord' 

      auth_names = opts[:auth_names] || ['BasicAuth', 'BearerToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretariesApi#secretaries_secretary_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a secretary
    # @param body 
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [SecretaryRecord]
    def secretaries_secretary_id_put(body, secretary_id, opts = {})
      data, _status_code, _headers = secretaries_secretary_id_put_with_http_info(body, secretary_id, opts)
      data
    end

    # Update a secretary
    # @param body 
    # @param secretary_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretaryRecord, Integer, Hash)>] SecretaryRecord data, response status code and response headers
    def secretaries_secretary_id_put_with_http_info(body, secretary_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretariesApi.secretaries_secretary_id_put ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SecretariesApi.secretaries_secretary_id_put"
      end
      # verify the required parameter 'secretary_id' is set
      if @api_client.config.client_side_validation && secretary_id.nil?
        fail ArgumentError, "Missing the required parameter 'secretary_id' when calling SecretariesApi.secretaries_secretary_id_put"
      end
      # resource path
      local_var_path = '/secretaries/{secretaryId}'.sub('{' + 'secretaryId' + '}', secretary_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SecretaryRecord' 

      auth_names = opts[:auth_names] || ['BasicAuth', 'BearerToken']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretariesApi#secretaries_secretary_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
