# coding: utf-8

"""
    Easy!Appointments API

    These are the OpenAPI specs that describe the REST API of Easy!Appointments.  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: info@easyappointments.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AppointmentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def appointments_appointment_id_delete(self, appointment_id, **kwargs):  # noqa: E501
        """Delete an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_delete(appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appointment_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.appointments_appointment_id_delete_with_http_info(appointment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.appointments_appointment_id_delete_with_http_info(appointment_id, **kwargs)  # noqa: E501
            return data

    def appointments_appointment_id_delete_with_http_info(self, appointment_id, **kwargs):  # noqa: E501
        """Delete an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_delete_with_http_info(appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appointment_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['appointment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method appointments_appointment_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'appointment_id' is set
        if ('appointment_id' not in params or
                params['appointment_id'] is None):
            raise ValueError("Missing the required parameter `appointment_id` when calling `appointments_appointment_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'appointment_id' in params:
            path_params['appointmentId'] = params['appointment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerToken']  # noqa: E501

        return self.api_client.call_api(
            '/appointments/{appointmentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def appointments_appointment_id_get(self, appointment_id, **kwargs):  # noqa: E501
        """Get an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_get(appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appointment_id: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.appointments_appointment_id_get_with_http_info(appointment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.appointments_appointment_id_get_with_http_info(appointment_id, **kwargs)  # noqa: E501
            return data

    def appointments_appointment_id_get_with_http_info(self, appointment_id, **kwargs):  # noqa: E501
        """Get an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_get_with_http_info(appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appointment_id: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['appointment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method appointments_appointment_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'appointment_id' is set
        if ('appointment_id' not in params or
                params['appointment_id'] is None):
            raise ValueError("Missing the required parameter `appointment_id` when calling `appointments_appointment_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'appointment_id' in params:
            path_params['appointmentId'] = params['appointment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerToken']  # noqa: E501

        return self.api_client.call_api(
            '/appointments/{appointmentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AppointmentRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def appointments_appointment_id_put(self, body, appointment_id, **kwargs):  # noqa: E501
        """Update an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_put(body, appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppointmentPayload body: (required)
        :param int appointment_id: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.appointments_appointment_id_put_with_http_info(body, appointment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.appointments_appointment_id_put_with_http_info(body, appointment_id, **kwargs)  # noqa: E501
            return data

    def appointments_appointment_id_put_with_http_info(self, body, appointment_id, **kwargs):  # noqa: E501
        """Update an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_appointment_id_put_with_http_info(body, appointment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppointmentPayload body: (required)
        :param int appointment_id: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'appointment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method appointments_appointment_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `appointments_appointment_id_put`")  # noqa: E501
        # verify the required parameter 'appointment_id' is set
        if ('appointment_id' not in params or
                params['appointment_id'] is None):
            raise ValueError("Missing the required parameter `appointment_id` when calling `appointments_appointment_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'appointment_id' in params:
            path_params['appointmentId'] = params['appointment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerToken']  # noqa: E501

        return self.api_client.call_api(
            '/appointments/{appointmentId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AppointmentRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def appointments_get(self, **kwargs):  # noqa: E501
        """Get all appointments  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page:
        :param int length:
        :param str sort:
        :param str q:
        :param str fields:
        :param str _with:
        :param str aggregates:
        :return: AppointmentCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.appointments_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.appointments_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def appointments_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get all appointments  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page:
        :param int length:
        :param str sort:
        :param str q:
        :param str fields:
        :param str _with:
        :param str aggregates:
        :return: AppointmentCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'length', 'sort', 'q', 'fields', '_with', 'aggregates']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method appointments_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'length' in params:
            query_params.append(('length', params['length']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
        if '_with' in params:
            query_params.append(('with', params['_with']))  # noqa: E501
        if 'aggregates' in params:
            query_params.append(('aggregates', params['aggregates']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerToken']  # noqa: E501

        return self.api_client.call_api(
            '/appointments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AppointmentCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def appointments_post(self, body, **kwargs):  # noqa: E501
        """Create an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppointmentPayload body: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.appointments_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.appointments_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def appointments_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an appointment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.appointments_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppointmentPayload body: (required)
        :return: AppointmentRecord
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method appointments_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `appointments_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerToken']  # noqa: E501

        return self.api_client.call_api(
            '/appointments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AppointmentRecord',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
